*{
  box-sizing: border-box;
  font-size: small;
  text-align: center;
}

.bg{
  width:100vw;
  height:100vh;
  background-color: #D5E1EF;
  position: relative;
}

.cardcss{
  width:17vw;
  height:60vh;
  padding:1vw;
  border-radius:15px;
  position: absolute;
  transform:translate(41.5vw,20vh);
}

img{
  width:15vw;
  border-radius:10px;
}

b{
  margin: 10px;
  font-size:15px;
}

p{
  margin:10px;
}

@media screen and (max-width:550px){
  .cardcss{
    padding:0;
    width:80vw;
    height:70vh;
    /* height:70vh; */
    position:absolute;
    margin:auto;
    transform:translate(0,15vh);
  }
  img{
    width:70vw;
    margin:5vw;
  }
  b{
    font-size:20px;
  }
  p{
    font-size:medium;
  }
}